body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.landing-logo {
  width: 30vw;
}

.hide-on-mobile {
  display: block!important;
}

.show-only-on-mobile {
  display: none!important;
}

@media (max-width: 768px) {
  .landing-logo {
    width: 60vw;
  }

  .hide-on-mobile {
    display: none!important;
  }

    .show-only-on-mobile {
        display: block!important;
    }
}
